{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur notre platforme de Quiz !! ✅</h1>
    {% if  not app.user %}
    <button><a href="{{path('app_register')}}">S'inscrire</a></button>
    <button><a href= "{{path('app_login')}}">S'identifier</a></button>
    {% endif %}
    {% if app.user %}
    <button><a href="{{path('app_game')}}">Lancer une partie 🎮 </a></button>
    {% endif %}
</div>
{% endblock %}
