{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
        {% for question in game.getQuestion %}
            <p>{{ question.getQuestion }}</p>
            <ul>
                {% for answer in question.getAnswer %}
                    <li>
                        <a href="{{path('game_question_response',{'id_game':game.id,'id_answer':answer.id})}}"><button class="answer-btn">{{ answer.answer }}</button></a>
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
